<video autoplay loop muted poster="images/polina.jpg" class="bgvid">
    <source src="videos/landing.webm" type="video/webm">
    <source src="videos/landing.mp4" type="video/mp4">
</video>

<div class="hero">
  <h1>HoloGlobo</h1>  
  <p>Acompanhe lances esportivos e confira o estilo das novelas por meio de um holograma projetado pelo seu celular</p>
  <div class="bottom">
    <p>
      <a href="#"><img src="/images/appstore.svg"></a>
    </p> 
    <p>
      <a href="https://www.youtube.com/watch?v=JqyK7CNZx2g">Instruções para construir a pirâmide holográfica</a>
    </p>
  </div>
</div>
