.hero * {
  text-shadow: 2px 2px #222222;
}

.hero h1 {
  font-size: 5em;
  text-align: center;
}

.hero p {
  margin: auto;
  width: 50%;
  font-size: 2em;
  text-align: center;
}

.hero a {
  color: white;
  font-size: .5em;
}

.hero .bottom {
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
}

video.bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/landing.jpg) no-repeat;
  background-size: cover; 
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(../images/landing.jpg) #000 no-repeat center center fixed;
  }
  .bgvid {
    display: none;
  }
}